*{
    margin: 0;
    padding: 0;
}

body{
    background:linear-gradient(to bottom, white, #999);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clientes{
    text-align: center;
}

#titulo-formulario{
    display: block/*Colocar display:block para que funcione as tags, pois se estiver em display:flex, não funcionará.*/;
    font-size: 1.2em;
    padding: 50px;
}

#conteudoFormulario{
    align-items: center;
}

h2{
    color: #227115;
    font-size: 2em;
    text-align: center;
}

h3{
    text-decoration: underline;
    color: #227115;
    text-align: center;
    padding-bottom: 5vh;
}

table{
    border: 1px solid red;
    margin: 0 auto;
    margin-bottom: 100px;
}

label{
    display: block;
    align-items: center;
}

th, tr, td{
    border-collapse: collapse;
    border: 1px solid green;
    padding: 20px;
    background: white;
}

header{
    background: linear-gradient(to top, white, #999);
    padding-top: 30px;
    height: 1200px;
    width: 1000px;
}

header#index{
    background: linear-gradient(to top, white, #999);
    padding-top: 30px;
    height: 95.8vh;
    width: 1000px;
}

header li{
    padding-bottom: 5px;
    margin-left: 50px;
    font-size: 1.8em;
    list-style: none;
}

.header {
    font-size: 2em;
    width: 100%;
    min-height: 45px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.header a{
    padding: 15px;
}

.header a:hover{
    color: red;
    background-color: #227115;
}

a:link, a:active, a:visited{
    text-decoration: none;
}
